@import 'nextra-theme-docs/dist/style.css' layer(nextra);

@layer overwrite {
  :root {
    --x-color-nextra-bg: var(--mantine-color-body);
  }

  :where(.dark) {
    --x-color-neutral-800: var(--mantine-color-dark-6);
  }

  .x\:text-sm {
    font-size: var(--x-text-sm) !important;
    line-height: var(--tw-leading, var(--x-text-sm--line-height)) !important;
  }
}

@layer components, mantine, nextra, overwrite;
